
.container {
  max-width: 1280px;
  padding: 32px 16px;
  margin: auto;
}

.hierarchy__group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  gap: 16px;
}

.hierarchy__title {
  text-align: center;
  color: var(--black-900);
  text-transform: capitalize;
}